@import url(//fonts.googleapis.com/css?family=Montserrat:700);
@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);

html {
  font: 16px/1.5 Inconsolata, sans-serif;
}

@media (min-width: 30rem) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0 0 5rem;
  color: #333;
}

a {
  color: #0094d9; /* From http://clrs.cc */
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  margin: 0 0 0.5rem -0.1rem /* align left edge */;
  line-height: 1;
  color: #111;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dedede;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 30rem) {
  h2 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

h3 {
  margin-top: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
}

h4, h5, h6 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 0.85rem;
  text-transform: uppercase;
}

p, ul, ol, dl, table, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: .5rem 1rem;
  border-left: .25rem solid #ccc;
  color: #666;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: 1.5rem 0;
  border-bottom: 1px solid #dedede;
  position: relative;
  top: -1px;
}

.container img, .container iframe {
  max-width: 100%;
}

.container img {
  margin: 0 auto;
  display: block;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #ccc;
}

pre, code {
  font-family: inherit;
  background-color: #eee;
}

pre {
  padding: .5rem 1rem;
  font-size: 0.8rem;
}

code {
  padding: .1rem .25rem;
}

pre > code {
  padding: 0;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.li-intro {
  font-weight: bold;
  color: #4f9400;
}

/* CTA button */
.gh-link {
    margin-top: 0.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #0076ae;
    border-radius: 8px;
    background: #00c0ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#00c0ff), to(#0076ae));
    background: -moz-linear-gradient(top, #00c0ff, #0076ae);
    background: linear-gradient(to bottom, #00c0ff, #0076ae);
    text-shadow: #004a6d 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.gh-link:hover,
.gh-link:focus {
    border: 1px solid #0094d9;
    background: #00e6ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#00e6ff), to(#008ed1));
    background: -moz-linear-gradient(top, #00e6ff, #008ed1);
    background: linear-gradient(to bottom, #00e6ff, #008ed1);
    color: #ffffff;
    text-decoration: none;
}
.gh-link:active {
    background: #0076ae;
    background: -webkit-gradient(linear, left top, left bottom, from(#0076ae), to(#0076ae));
    background: -moz-linear-gradient(top, #0076ae, #0076ae);
    background: linear-gradient(to bottom, #0076ae, #0076ae);
}

/* Navigation menu */
.nav {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  margin-bottom: 3rem;
}

@media screen and (max-width: 30rem) {
  li {
    width: 100% !important;
    float:none !important;
  }
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
  width: 33.3%;
}

a.nav-link:link, a.nav-link:visited {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #777;
  font-size: 0.85rem;
}

a.nav-link:hover, a.nav-link:active {
  color: #0094d9;
  background-color: #ddd;
}
