<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54222917-1', 'auto');
  ga('send', 'pageview');
</script>

<script>
(function() {

  // List of roles.
  // --------------------------------------------------------------------------

  var roles = [
    'apt',
    'apt_preferences',
    'auth',
    'backporter',
    'bootstrap',
    'boxbackup',
    'console',
    'debops',
    'dhcpd',
    'directories',
    'dnsmasq',
    'dokuwiki',
    'dovecot',
    'elasticsearch',
    'etc_services',
    'etherpad',
    'fail2ban',
    'ferm',
    'gitlab',
    'gitlab_ci',
    'gitlab_ci_runner',
    'gitusers',
    'golang',
    'hwraid',
    'ifupdown',
    'ipxe',
    'java',
    'kvm',
    'lxc',
    'mailman',
    'mariadb',
    'mariadb_server',
    'memcached',
    'monit',
    'monkeysphere',
    'mysql',
    'nfs',
    'nginx',
    'nodejs',
    'ntp',
    'openvz',
    'owncloud',
    'php5',
    'phpipam',
    'phpmyadmin',
    'pki',
    'postfix',
    'postgresql',
    'preseed',
    'radvd',
    'rails_deploy',
    'redis',
    'reprepro',
    'rsnapshot',
    'rstudio_server',
    'rsyslog',
    'ruby',
    'safekeep',
    'salt',
    'samba',
    'secret',
    'sftpusers',
    'sks',
    'slapd',
    'smstools',
    'snmpd',
    'sshd',
    'sshkeys',
    'stunnel',
    'subnetwork',
    'tcpwrappers',
    'tftpd',
    'tgt',
    'users'
  ];

  // --------------------------------------------------------------------------

  function github_repo(role) {
    var normalized_role = role;

    if (normalized_role === 'ansible') {
      normalized_role = 'role-ansible'
    }

    var link = 'https://github.com/debops/ansible-' + normalized_role;
    var code = '<a href="' + link + '" title="View it on Github">' + role + '</a>';

    return code;
  }

  function travis_badge(role) {
    var normalized_role = role;

    if (normalized_role === 'ansible') {
      role = 'role-ansible'
    }

    var link = 'http://travis-ci.org/debops/ansible-' + role;
    var png = 'https://secure.travis-ci.org/debops/ansible-' + role + '.png';
    var code = '<a style="float: left;" href="' + link + '"><img src="' + png + '" alt="Build status" /></a>';
    return code;
  }

  function testsuite_link(role) {
    var normalized_role = role;

    if (normalized_role === 'ansible') {
      role = 'role-ansible'
    }

    var link = 'https://github.com/debops/test-suite/tree/master/ansible-' + role;
    var code = '<a style="float: right; font-size: 0.7rem;" href="' + link + '">[view tests]</a>';
    return code;
  }

  function build_status() {
    var tbody = document.getElementById('status').getElementsByTagName('tbody')[0];
    var role_count = roles.length;

    for (var i = 0; i < role_count; i++) {
      var role_from_array = roles[i];

      var row = tbody.insertRow(tbody.rows.length);
      var role = row.insertCell(0);
      var travis = row.insertCell(1);
      var testsuite = row.insertCell(2);
      var role_name = github_repo(roles[i]);
      var role_travis = travis_badge(roles[i]);
      var role_testsuite = testsuite_link(roles[i]);

      var tds = document.getElementsByTagName('td');
      tds[1].style.width = '4rem';
      tds[2].style.width = '4.2rem';

      role.insertAdjacentHTML('beforeend', role_name);
      travis.insertAdjacentHTML('beforeend', role_travis);
      testsuite.insertAdjacentHTML('beforeend', role_testsuite);
    }
  }

  build_status();

  document.getElementById('role_count').innerHTML = roles.length;
})();
</script>
